<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주식 플랫폼</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/stock.css" />
  </head>

  <body>
    <!-- 🔴 메인 Nav 창 -->
    <header>
      <!--  위쪽 Nav -->
      <nav class="navbar navbar-expand-lg fixed-top-custom">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="/index">
            <i class="fa-brands fa-stack-overflow"> stock insight</i>
          </a>
          <!-- 알림,회원 -->
          <div class="d-flex ms-auto">
            <!-- 알림 -->
            <button
              class="btn btn-outline-light me-2"
              onclick="toggleNotification()"
            >
              <i class="fas fa-bell fa-2x"></i>
            </button>
            <!-- 알림 정보 영역 -->
            <div class="user-notification" id="userNotification">
              <div class="user-noti" id="userNoti"></div>
            </div>
            <!-- 회원 -->
            <button class="btn btn-outline-light" onclick="toggleProfile()">
              <i class="fas fa-user fa-2x"></i>
            </button>
          </div>
          <!-- 회원 상세 정보 영역 -->
          <div class="user-details" id="userDetails">
            <img
              id="profileImage"
              src="/static/photo/login.jpg"
              alt="Profile Image"
            />
            <div class="user-info">
              <div><strong>닉네임:</strong> <span id="nickname"></span></div>
              <div><strong>이메일:</strong> <span id="email"></span></div>
            </div>
            <!-- 회원상세정보 버튼 -->
            <a href="/userInfo" class="custom-button">회원상세정보</a>
            <!-- 로그아웃 버튼 -->
            <button onclick="logout()" class="custom-button">로그아웃</button>
          </div>
        </div>
      </nav>

      <!--  왼쪽 Nav  -->
      <nav
        id="sidebarMenu"
        class="d-flex flex-column align-items-start bg-light p-4 d-lg-block left-nav-border"
      >
        <a
          href="/news"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="Economy"
        >
          <i class="fa-regular fa-newspaper me-2"></i> news
        </a>
        <a
          href="/stocksLike"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="Analysis"
        >
          <i class="fas fa-chart-bar me-2" aria-hidden="true"></i> stocks
        </a>
        <a
          href="/quiz"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="quiz"
        >
          <i class="fa-brands fa-square-pinterest me-2"></i> quiz
        </a>
        <a
          href="/noticeBoard"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="Community"
        >
          <i class="fas fa-users me-2" aria-hidden="true"></i> Community
        </a>
      </nav>
    </header>

    <!-- 🔴 메인  -->
    <main>
      <div>
        <div class="row main-index">
          <div class="col-md-5">
            <h3 class="main-h2">
              <i class="fa-solid fa-layer-group"></i> 주요 지수
            </h3>
            <!-- KOSPI, KOSDAQ 정보 카드 -->
            <div class="main-indexchart">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="indexkos">KOSPI</h3>
                    <div class="stock-chart">
                      <canvas id="kospiChart"></canvas>
                    </div>
                    <br />
                    <h5 class="card-title" id="kospi-price"></h5>
                    <p class="card-text" id="kospi-change"></p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h3 class="indexkos">KOSDAQ</h3>
                    <div class="stock-chart">
                      <canvas id="kosdaqChart"></canvas>
                    </div>
                    <br />
                    <h5 class="card-title" id="kosdaq-price"></h5>
                    <p class="card-text" id="kosdaq-change"></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- 당일 급등종목 -->
            <h3 class="main-h2">
              <i class="fa-solid fa-arrow-trend-up"></i> 당일 급등종목
            </h3>
            <div class="stock-rank-container">
              <br />
              <ul id="stockRankList">
                <li class="stock-header">
                  <span class="stock-name">종목명</span>
                  <span class="stock-price">가격</span>
                  <span class="stock-change">등락률</span>
                  <span class="stock-market">시장</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-7">
            <!-- 찜한 종목 카드 목록 -->

            <h3 class="main-h2"><i class="fa-solid fa-star"></i> 찜한 종목</h3>
            <!-- 색상별 가이드라인 -->
            <div class="color-guide">
              <div
                style="
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  background-color: #f3722ca5;
                  margin-right: 8px;
                "
              ></div>
              상승
              <div
                style="
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  background-color: #a3cef1;
                  margin-right: 8px;
                  margin-left: 24px;
                "
              ></div>
              하락
              <div
                style="
                  display: inline-block;
                  width: 24px;
                  height: 24px;
                  background-color: #b0b5c2b7;
                  margin-right: 8px;
                  margin-left: 24px;
                "
              ></div>
              보합
            </div>
            <br />
            <div class="cards-container main-index-likecards"></div>
            <!-- 여기에 찜한 종목 카드가 추가 -->
          </div>
        </div>
      </div>

      <br />
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/1a93e99cf8.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/indexChart.js"></script>
    <script src="/static/js/stockLike.js"></script>
    <script src="/static/js/userNotification.js"></script>
  </body>
</html>
