<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주식 플랫폼</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <!-- 🔴 위쪽 Nav 🔴-->
    <nav class="navbar navbar-expand-lg fixed-top-custom">
      <div class="container-fluid">
        <!-- 햄버거 메뉴 버튼 추가 -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a
          class="navbar-brand text-light"
          href="http://localhost:3000/view/index.html"
        >
          <i class="fa-brands fa-stack-overflow"> lol lol</i>
        </a>
        <!-- 알림,회원 -->
        <div class="d-flex ms-auto">
          <!-- 알림 -->
          <button class="btn btn-outline-light me-2">
            <i class="fas fa-bell fa-2x"></i>
          </button>
          <!-- 회원 -->
          <button class="btn btn-outline-light" onclick="toggleProfile()">
            <i class="fas fa-user fa-2x"></i>
          </button>
        </div>
        <!-- 회원 상세 정보 영역 -->
        <div class="user-details" id="userDetails">
          <img
            id="profileImage"
            src="/static/photo/login.jpg"
            alt="Profile Image"
          />
          <div class="user-info">
            <div><strong>닉네임:</strong> <span id="nickname"></span></div>
            <div><strong>이메일:</strong> <span id="email"></span></div>
          </div>
          <!-- 회원상세정보 버튼 -->
          <a
            href="http://localhost:3000/view/userInfo.html"
            class="custom-button"
            >회원상세정보</a
          >
          <!-- 로그아웃 버튼 -->
          <button onclick="logout()" class="custom-button">로그아웃</button>
        </div>
      </div>
    </nav>

    <!-- 🔴 왼쪽 Nav 🔴 -->
    <nav
      class="d-flex flex-column align-items-start bg-light p-4 d-none d-lg-block left-nav-border"
    >
      <a
        href="http://localhost:3000/view/search.html"
        class="d-flex align-items-center my-3 sidebar"
        role="button"
        aria-label="search"
      >
        <i class="fa-solid fa-magnifying-glass me-2" aria-hidden="true"></i>
        search
      </a>
      <a
        href="http://localhost:3000/view/news.html"
        class="d-flex align-items-center my-3 sidebar"
        role="button"
        aria-label="Economy"
      >
        <i class="fa-regular fa-newspaper me-2"></i> news
      </a>
      <a
        href="http://localhost:3000/view/stocks.html"
        class="d-flex align-items-center my-3 sidebar"
        role="button"
        aria-label="Analysis"
      >
        <i class="fas fa-chart-bar me-2" aria-hidden="true"></i> stocks
      </a>
      <a
        href="http://localhost:3000/view/noticeBoard.html"
        class="d-flex align-items-center my-3 sidebar"
        role="button"
        aria-label="Community"
      >
        <i class="fas fa-users me-2" aria-hidden="true"></i> Community
      </a>
    </nav>

    <!-- 🔴 메인 🔴 -->
    <main>
      <div>
        <p>
          <strong>LOL LOL</strong>은 주식 투자자들을 위한 통합 플랫폼입니다.
        </p>
        <ul>
          <li>
            <strong>주식 정보:</strong> 현재 주식의 시세, 과거의 데이터, 주식에
            대한 다양한 분석 정보를 제공합니다.
          </li>
          <li>
            <strong>뉴스:</strong> 주식과 관련된 최신 뉴스 및 시장 동향을
            실시간으로 전해드립니다.
          </li>
          <li>
            <strong>커뮤니티:</strong> 주식 투자에 대한 다양한 의견과 정보를
            교환할 수 있는 커뮤니티 공간을 제공합니다. 다른 투자자들과의 소통을
            통해 더 나은 투자 결정을 내릴 수 있습니다.
          </li>
        </ul>
        <p>우리의 플랫폼을 통해 투자의 성공을 함께 지향해보세요!</p>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/1a93e99cf8.js"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
