<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overlapping Moebius Ellipses with Bootstrap Login Form</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>

  <body>
    <canvas id="canvas"></canvas>
    <div class="form-container w-25 mx-auto">
      <h3 class="text-center mb-4">로그인</h3>
      <div class="mb-3">
        <input
          id="emailInput"
          type="text"
          class="form-control"
          placeholder="email"
          required
        />
      </div>
      <div class="mb-3">
        <input
          id="passwordInput"
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <div class="text-end mt-2">
        <a href="#" class="text-dark">아이디/비밀번호 찾기</a>
      </div>
      <button type="button" class="btn btn-dark w-100" onclick="loginUser()">
        로그인
      </button>
      <div class="text-center mt-3">
        <a href="#" data-bs-toggle="modal" data-bs-target="#infoModal"
          >참가하기</a
        >
      </div>
    </div>

    <!-- 정보 모달 -->
    <div
      class="modal fade"
      id="infoModal"
      tabindex="-1"
      aria-labelledby="infoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel">플랫폼 정보</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- 이미지 추가 -->
            <img
              src="static/photo/login.jpg"
              alt="Platform Description Image"
              class="img-fluid mb-3"
            />

            <p>
              <strong>증시의 지평선</strong>은 주식 투자자들을 위한 통합
              플랫폼입니다.
            </p>
            <ul>
              <li>
                <strong>주식 정보:</strong> 현재 주식의 시세, 과거의 데이터,
                주식에 대한 다양한 분석 정보를 제공합니다.
              </li>
              <li>
                <strong>뉴스:</strong> 주식과 관련된 최신 뉴스 및 시장 동향을
                실시간으로 전해드립니다.
              </li>
              <li>
                <strong>커뮤니티:</strong> 주식 투자에 대한 다양한 의견과 정보를
                교환할 수 있는 커뮤니티 공간을 제공합니다. 다른 투자자들과의
                소통을 통해 더 나은 투자 결정을 내릴 수 있습니다.
              </li>
            </ul>
            <p>우리의 플랫폼을 통해 투자의 성공을 함께 지향해보세요!</p>
          </div>

          <div class="modal-footer">
            <a
              href="http://localhost:3000/api/kakao/login"
              class="btn btn-danger"
              >카카오로 가입/시작하기</a
            >
            <a
              href="#"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#signupModal"
              >회원가입</a
            >
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 회원가입 모달 -->
    <div
      class="modal fade"
      id="signupModal"
      tabindex="-1"
      aria-labelledby="signupModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signupModalLabel">회원가입</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="signupEmail" class="form-label">이메일</label>
                <input
                  type="email"
                  class="form-control"
                  id="signupEmail"
                  placeholder="이메일 주소를 입력하세요"
                  required
                />
              </div>
              <div class="mb-3">
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="sendVerificationCode()"
                >
                  인증코드 받기
                </button>
              </div>
              <div class="mb-3">
                <label for="verificationCode" class="form-label"
                  >인증 코드</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="verificationCode"
                  placeholder="이메일로 받은 인증 코드를 입력하세요"
                  required
                />
              </div>
              <button
                type="button"
                class="btn btn-primary"
                onclick="checkVerificationCode()"
              >
                인증코드 확인
              </button>
              <br />
              <br />
              <div class="mb-3">
                <label for="signupNickname" class="form-label">닉네임</label>
                <input
                  type="text"
                  class="form-control"
                  id="signupNickname"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="signupPassword" class="form-label">비밀번호</label>
                <input
                  type="password"
                  class="form-control"
                  id="signupPassword"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  >비밀번호 확인</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  required
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="signup()">
              완료
            </button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/login.js"></script>
  </body>
</html>
