<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STOCK INSIGHT 로그인페이지</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>

  <body>
    <canvas id="canvas"></canvas>

    <!-- 🔴 로그인 -->
    <div class="form-container w-25 mx-auto">
      <h3 class="text-center mb-4">로그인</h3>
      <div class="mb-3">
        <input
          id="emailInput"
          type="text"
          class="form-control"
          placeholder="email"
          required
        />
      </div>
      <div class="mb-3">
        <input
          id="passwordInput"
          onkeypress="javascript:if(event.keyCode==13){loginUser();}"
          type="password"
          class="form-control"
          placeholder="Password"
          required
        />
      </div>
      <div class="text-end mt-2">
        <a href="#" class="text-dark">아이디/비밀번호 찾기</a>
      </div>
      <button type="button" class="btn btn-dark w-100" onclick="loginUser()">
        로그인
      </button>
      <div class="text-center mt-3">
        <a href="#" data-bs-toggle="modal" data-bs-target="#infoModal"
          >참가하기</a
        >
      </div>
    </div>

    <!-- 🔴 정보 모달 -->
    <div
      class="modal fade"
      id="infoModal"
      tabindex="-1"
      aria-labelledby="infoModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="infoModalLabel">플랫폼 정보</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Carousel 시작 -->
            <div
              id="infoCarousel"
              class="carousel slide"
              data-bs-interval="false"
            >
              <div class="carousel-inner">
                <!-- 첫 번째 슬라이드 -->
                <div class="carousel-item active">
                  <img
                    src="static/photo/mystock.png"
                    alt="Platform Description Image"
                    class="img-fluid mb-3"
                  />
                  <br />
                  <h3>주식 플랫폼</h3>
                  <p>
                    <strong>stock insight</strong>은 주식에 관심있는 모든
                    유저들을 위한 종합 플랫폼입니다.
                  </p>
                </div>

                <!-- 두 번째 슬라이드 -->
                <div class="carousel-item">
                  <img
                    src="static/photo/stock.png"
                    alt="Image Description"
                    class="img-fluid mb-3"
                  />
                  <br />
                  <h3>주식 정보</h3>
                  <p>
                    현재 주식의 시세, 데이터, 주식에 대한 다양한 분석 정보를
                    제공합니다.
                  </p>
                </div>

                <!-- 세 번째 슬라이드 -->
                <div class="carousel-item">
                  <img
                    src="static/photo/new.png"
                    alt="Image Description"
                    class="img-fluid mb-3"
                  />
                  <br />
                  <h3>뉴스</h3>
                  <p>
                    비즈니스와 관련된 최신 뉴스 및 시장 동향을 실시간으로
                    전해드립니다.
                  </p>
                </div>

                <!-- 네 번째 슬라이드 -->
                <div class="carousel-item">
                  <img
                    src="static/photo/community.png"
                    alt="Image Description"
                    class="img-fluid mb-3"
                  />
                  <br />
                  <h3>커뮤니티</h3>
                  <p>
                    주식 투자에 대한 다양한 의견과 정보를 교환할 수 있는
                    커뮤니티 공간을 제공합니다. 다른 투자자들과의 소통을 통해 더
                    나은 투자 결정을 내릴 수 있습니다.
                  </p>
                </div>
              </div>

              <!-- Carousel Controls -->
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#infoCarousel"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#infoCarousel"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Carousel 끝 -->
          </div>
          <div class="modal-footer">
            <a href="/api/kakao/login" class="btn btn-danger"
              >카카오로 가입/시작하기</a
            >
            <a
              href="#"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#signupModal"
              >회원가입</a
            >
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- 회원가입 모달 -->
    <div
      class="modal fade"
      id="signupModal"
      tabindex="-1"
      aria-labelledby="signupModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signupModalLabel">회원가입</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="signupEmail" class="form-label">이메일</label>
                <input
                  type="email"
                  class="form-control"
                  id="signupEmail"
                  placeholder="이메일 주소를 입력하세요"
                  required
                />
              </div>
              <div class="mb-3">
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="verifyEmail()"
                >
                  인증코드 받기
                </button>
                <div
                  class="mb-3"
                  id="countdown-container"
                  style="display: none"
                >
                  <span>인증 코드 입력까지 남은 시간: </span>
                  <span id="countdown">300</span>초
                </div>
              </div>
              <div class="mb-3">
                <label for="verificationCode" class="form-label"
                  >인증 코드</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="verificationCode"
                  placeholder="이메일로 받은 인증 코드를 입력하세요"
                  required
                />
              </div>
              <button
                type="button"
                class="btn btn-primary"
                onclick="checkEmailCode()"
              >
                인증코드 확인
              </button>
              <br />
              <br />
              <div class="mb-3">
                <label for="signupNickname" class="form-label">닉네임</label>
                <input
                  type="text"
                  class="form-control"
                  id="signupNickname"
                  placeholder="닉네임을 입력하세요"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="signupPassword" class="form-label">비밀번호</label>
                <input
                  type="password"
                  class="form-control"
                  id="signupPassword"
                  placeholder="영문 대,소문자 숫자 8자리"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  >비밀번호 확인</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  placeholder="영문 대,소문자 숫자 8자리"
                  required
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="signup()">
              완료
            </button>
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
              닫기
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/login.js"></script>
  </body>
</html>
