<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 정보</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>

  <body>
    <!-- 🔴 메인 Nav 창 -->
    <header>
      <!--  위쪽 Nav -->
      <nav class="navbar navbar-expand-lg fixed-top-custom">
        <div class="container-fluid">
          <!-- 햄버거 메뉴 버튼 추가 -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-light" href="/index">
            <i class="fa-brands fa-stack-overflow"> stock insight</i>
          </a>
          <!-- 알림,회원 -->
          <div class="d-flex ms-auto">
            <!-- 회원 -->
            <button class="btn btn-outline-light" onclick="toggleProfile()">
              <i class="fas fa-user fa-2x"></i>
            </button>
          </div>
          <!-- 회원 상세 정보 영역 -->
          <div class="user-details" id="userDetails">
            <img
              id="profileImage"
              src="/static/photo/login.jpg"
              alt="Profile Image"
            />
            <div class="user-info">
              <div><strong>닉네임:</strong> <span id="nickname"></span></div>
              <div><strong>이메일:</strong> <span id="email"></span></div>
            </div>
            <!-- 회원상세정보 버튼 -->
            <a href="/userInfo" class="custom-button">회원상세정보</a>
            <!-- 로그아웃 버튼 -->
            <button onclick="logout()" class="custom-button">로그아웃</button>
          </div>
        </div>
      </nav>

      <!--  왼쪽 Nav  -->
      <nav
        class="d-flex flex-column align-items-start bg-light p-4 d-none d-lg-block left-nav-border"
      >
        <a
          href="/news"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="Economy"
        >
          <i class="fa-regular fa-newspaper me-2"></i> news
        </a>
        <a
          href="/stocksLike"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="Analysis"
        >
          <i class="fas fa-chart-bar me-2" aria-hidden="true"></i> stocks
        </a>
        <a
          href="/quiz"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="quiz"
        >
          <i class="fa-brands fa-square-pinterest me-2"></i> quiz
        </a>
        <a
          href="/noticeBoard"
          class="d-flex align-items-center my-3 sidebar"
          role="button"
          aria-label="Community"
        >
          <i class="fas fa-users me-2" aria-hidden="true"></i> Community
        </a>
      </nav>
    </header>

    <!-- 🔴 유저 상세 메인  -->
    <main class="userInfoMain">
      <h3 class="mb-3"><i class="fa-solid fa-user"></i> 유저 정보</h3>
      <div class="userInfo">
        <div class="row">
          <div class="col-md-4 text-center">
            <img
              id="mainProfileImage"
              class="img-fluid rounded-circle profile-image"
            />
            <div class="mt-2">
              <input
                type="file"
                id="profileImageInput"
                style="display: none"
                onchange="uploadImageToServer();"
              />
              <button
                class="btn btn-outline-primary"
                onclick="document.getElementById('profileImageInput').click();"
              >
                이미지 첨부
              </button>
            </div>
          </div>
          <div class="col-md-8 mb-6 h4 fw-bold">
            <div class="mb-2 m-3">
              <div class="h6"><strong>닉네임</strong></div>
              <div><span id="mainNickname"></span></div>
            </div>
            <div class="mb-2 m-3">
              <div class="h6"><strong>이메일</strong></div>
              <div><span id="mainEmail"></span></div>
            </div>
            <div class="mb-2 m-3">
              <div class="h6"><strong>포인트</strong></div>
              <div><span id="mainPoint"></span></div>
            </div>
            <div class="mb-2 m-3">
              <div class="h6"><strong>상태</strong></div>
              <div><span id="mainStatus"></span></div>
            </div>
          </div>
        </div>
      </div>
      <!-- 맞춘종목 -->
      <h3 class="mb-3"><i class="fa-solid fa-pen"></i> 퀴즈 현황</h3>
      <div class="userInfo">
        <div class="row">
          <div class="col-md-12">
            <ul id="userQuizzes" class="list-group mb-3"></ul>

            <!-- 페이지네이션 버튼 추가 -->
            <div class="pagination-buttons">
              <button id="prevPage" class="btn btn-secondary">이전</button>
              <span id="currentPage">1</span>
              <button id="nextPage" class="btn btn-secondary">다음</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/1a93e99cf8.js"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/userInfo.js"></script>
  </body>
</html>
