@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'NEXON Lv1 Gothic OTF';
}

main {
  margin-top: 100px;
  margin-right: 30px;
  padding-left: 260px;
}

/* 🔥 메뉴 nav바 */
.navbar {
  background-color: #01161e;
}

.navbar-brand {
  font-size: 30px;
}

.fixed-top-custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.left-nav-border {
  border-right: 1px solid #ccc;
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
}

.sidebar {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
  font-family: 'Pretendard-Bold';
}

.sidebar:hover {
  background-color: #01161e;
  color: white;
  transition: all 0.1s;
}

.sidebar:active {
  background-color: #01161e;
}

ul.nav .nav-item .nav-link.active {
  background-color: rgb(4, 26, 66);
  color: white;
}
/* ul.nav .nav-item button.active {
  background-color: rgb(4, 26, 66);
  color: white;
} */

/* 🔥 유저 정보  */
.user-details {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #414141;
  border-radius: 10px;
  z-index: 100;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profileImage {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

#mainProfileImage {
  width: 200px;
  height: 200px;
}

.custom-button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.userInfo {
  height: 450px;
  padding: 50px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.main-h2 {
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
}

.h6 {
  color: grey;
}

.nav-item > a {
  color: navy;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.indexkos {
  color: white;
  background-color: rgb(68, 68, 73);
  text-align: center;
  border-radius: 5px;
}

.list-group-item > #userInfoQuiz:hover {
  cursor: pointer;
}

/* 🔥 메인 css */
.main-indexchart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.board-container {
  display: none;
}

.putdelbutton {
  display: none;
  z-index: 1;
  border-radius: 4px;
}

/* 🔥 페이지 네이션 */
.page-item .page-link {
  color: black;
}
.page-link {
  color: rgb(0, 0, 0);
}
.page-item:hover .page-link {
  background-color: transparent;
}

/* 🔥 퀴즈 */
.premium-tag {
  background-color: rgb(255, 166, 0);
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.6em;
  vertical-align: middle;
  margin-left: 5px;
}

.quiz-bodyclik:hover {
  cursor: pointer;
  color: #007bff;
  transform: scale(1.02);
}

.custom-btn {
  width: 200px;
  height: 50px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.current-price-text {
  font-size: 0.8rem;
}

.current-price-value {
  color: black;
  font-size: 1.3rem;
}

.change-price-value {
  font-size: 0.9rem;
}

.subtitle {
  font-size: 0.7em;
  color: red;
}

.btn-custom {
  background-color: navy;
  color: #ffffff;
  border-radius: 50px;
  padding: 3px 15px;
  transition: all 0.3s;
}

.btn-custom:hover {
  background-color: #fffb07;
}

/* 🔥 채팅박스 */
#chat-box {
  width: 380px;
  height: 600px;
  overflow-y: scroll;
  border-radius: 3px;
}
.input-group {
  width: 380px;
}

#chattingNickname {
  margin-top: 10px;
}

.chat-time {
  font-size: 0.8em;
  color: grey;
}

.chat-notification {
  font-size: 0.9em;
  color: #d9534f;
  margin-bottom: 10px;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#userQuizzes .list-group-item {
  background-color: #f7f5f5;
  margin-bottom: 5px;
  border: 1px solid #e2e2e2;
}

.align-right {
  text-align: right;
  display: block;
  margin-top: auto;
}

#totalQuizzes,
#correctPercentage {
  font-size: 1.4rem;
  font-weight: bold;
}
