* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

main {
  margin-top: 100px;
  margin-right: 30px;
  padding-left: 260px;
}

.userInfoMain {
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 260px;
  padding-left: 260px;
}

/* 메뉴 nav바 */
.navbar {
  background-color: #01161e;
}

.navbar-brand {
  font-size: 30px;
}

.fixed-top-custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.left-nav-border {
  border-right: 1px solid #ccc;
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
}

.sidebar {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
}

.sidebar-link:hover {
  text-decoration: none;
}

/* 유저 정보  */
.user-details {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #414141;
  border-radius: 10px;
  z-index: 100;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#profileImage {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

#mainProfileImage {
  width: 400px;
}

.custom-button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-decoration: none; /* a태그의 밑줄 제거 */
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
}

.custom-button:hover {
  background-color: #0056b3;
}

/* 메인 css */
.board-container {
  display: none;
}

.putdelbutton {
  display: none;
  z-index: 1;
  border-radius: 4px;
}
