.stockNav > .nav-item > a {
  color: rgb(81, 62, 248);
}

/* 🔥 메인 테이블 */
#autocompleteContainer {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  margin-left: 5px;
  background-color: white;
}

#autocompleteContainer > div:hover {
  cursor: pointer;
  background-color: rgb(208, 208, 208);
}

.search-section {
  position: relative;
}

#totalStocks {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 20px;
  background-color: #264653;
  color: white;
}

th,
td {
  border-top: 1px solid #ddd;
  padding: 8px;
}

/* 홀수 번째 행 배경색 */
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: #d8d7d7;
  cursor: pointer;
}
/* 종목명 열 굵게 */
tbody tr td:nth-child(2) {
  font-weight: bold;
}

tbody tr td:nth-child(4) {
  color: red;
  font-weight: bold;
}

tbody tr td:nth-child(5) {
  font-weight: bold;
}

#stockRankList {
  text-align: center;
}

/* 🔥 찜목록 */

.card:hover {
  cursor: pointer;
}

.card-header {
  font-size: 1.4rem;
}

.card-subtitle {
  color: black;
}

.current-price-value {
  color: black;
}

/* 삭제 버튼 */
.delete-button {
  cursor: pointer;
  color: RED;
  font-weight: bold;
}

.delete-button:hover {
  transform: scale(1.2);
}

/* 🔥 주식랭킹 */
.stock-header {
  background-color: #264653;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
}

.stock-header .stock-name {
  flex: 2;
}

.stock-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.stock-id,
.stock-price,
.stock-market {
  flex: 1;
  text-align: right;
}

.stock-change {
  flex: 2;
  text-align: right;
}

.stock-rank-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stock-name {
  flex: 2;
}

.stock-change.positive {
  color: red;
}

.stock-change.negative {
  color: blue;
}

.stock-item:hover {
  cursor: pointer;
  font-weight: bold;
}

.stock-rank {
  margin-right: 3px;
}

/* 🔥 페이지네이션 */
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 0.5rem;
}

#pagination .active {
  background-color: #007bff;
  color: white;
}

#pagination button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  cursor: pointer;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}

#pagination button:not(:first-child):not(:last-child) {
  border-radius: 10px;
}

#pagination button:hover:not(:first-child):not(:last-child) {
  background-color: #007bff;
  color: white;
}

#pagination button:first-child,
#pagination button:last-child {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}

#pagination button:first-child:hover,
#pagination button:last-child:hover {
  background-color: transparent;
  color: #007bff;
}
