.stock-detail-container {
  border: 1px solid #29265a;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  position: relative;
}

#favoriteButton {
  margin-top: 10px;
  margin-bottom: 20px;
  align-self: center;
}

.stock-title h4 {
  color: #000000;
  font-weight: bold;
}

.stock-title p {
  color: #ff0000;
  font-weight: bold;
  margin-top: 10px;
}

.stock-highlights p {
  margin-right: 40px;
}

.stock-info {
  padding: 20px;
}

#stockInfo > div > i {
  margin-top: -20px;
}

.star-btn {
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.star-btn.filled {
  color: gold;
}

.info-card {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: -10px;
}

.info-card i {
  font-size: 15px;
  margin-right: 15px;
}

.stock-highlights {
  display: flex;
  flex-direction: column;
  position: relative;
}

.stock-highlights > div > i {
  margin-bottom: 15px;
}

.comments-list {
  max-height: 1000px;
  overflow-y: auto;
}

#myChart {
  height: 400px;
}
